h1 {
    color: yellowgreen
}

img {
    width: 500px;
}

.subjectContainer {
    display: flex;
    grid-gap: 204.5px;
}

.subject_Box_Tekst {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;
}

.subject_Box {
    display: flex;
    margin-top: 50px;
}

.heim_Tekst {
    padding: 25px;
}

.about {
    padding: 25px;
}

.button {
    background-color: red;
    width: 100px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid yellow;
}

.topnav {
    background-color: black;
    border-radius: 25px;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: green;
    color: yellow;
    border-radius: 25px;
}

.D {
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto; 
}

.row {
    margin-bottom: 200px;
    text-align: center;
    text-decoration: underline;
}

.container_Historie_Tekst {
    padding: 25px;
}

.container_Historie {
    display: grid;
    grid-template-columns: auto auto;
    width: 100px;
    grid-gap: 150px;
}

.container_Tekno_Tekst {
    padding: 25px;
}

.row_Historie {
    margin-bottom: 25px;
    border: 2.5px solid black;
    text-align: center;
}

.row_Tekno {
    border: 2.5px solid black;
}

.container_Tekno {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.row_Tekno_Tekst {    
    text-align: center;
    text-decoration: underline;

}

.container_Programering_Tekst {
    padding: 25px;
}

.container_Programering {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 25px;
}

.row_Programering {
    border: 2.5px solid black;
    text-align: center;
}

.row_Programering img {
    width: 400px;
}

.subject_Box {
    border: 2px solid black;
}

.container_Yrke {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.container_Yrke_Tekst {
    padding: 25px;
}

.row_Yrke {
    border:  2.5px solid black;
    width: 375px;
}

.row_Yrke img {
    width: 375px;
}

.row_Yrke_Tekst {
    text-align: center;
    text-decoration: underline;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.flexbox {
    display: flex;
    flex-wrap: wrap;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: green;}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }