h1 {
    color: yellowgreen
}

img {
    width: 500px;
}

.subjectContainer {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
}

.subjectbox {
    border: 2px solid black;
    width: 500px;
}

.button {
    background-color: red;
    width: 100px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid yellow;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: green;
    color: yellow;
}

.D {
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto; 
}

.row {
    margin-bottom: 200px;
    text-align: center;
    text-decoration: underline;
}

.container_Historie {
    display: grid;
    grid-template-columns: auto auto;
    width: 100px;
}

.row_Historie {
    margin-bottom: 200px;
    border: 5px solid black;
}

.row_Tekno {
    width: 500px;
    border: 5px solid black;
}

.container_Tekno {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 150px;
}

.row_Tekno_Tekst {    
    text-align: center;
    text-decoration: underline;
}

.container_Programering {
    display: grid;
    grid-template-columns: auto auto auto auto; 
}

.row_Programering {
    border: 5px solid black;
}

.subject_Box {
    border: 2px solid black;
}